.header {
  height: 100vh;
  background-image: url(../../Assets/background.svg);
  background-repeat: no-repeat;
  background-position: left 50px bottom;
  height: 100vh;
  width: 100vw;
}

@media (min-width: 1250px) {
  .header {
    background-size: 50%;
  }
}
@media (min-width: 992px) {
  .header {
    background-size: 50%;
  }
}

@media (max-width: 845px) {
  .form-group {
    width: 100%;
  }
}

.header .top {
  display: flex;
  padding-top: 10px;
}

.header .top .logo {
  flex: 0.5;
}

.header .top .menu {
  flex: 1;
}

.menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  flex-direction: row-reverse;
}

.menu ul li {
  margin: 0 10px 0 10px;
}

.menu ul li a {
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: flex-start;
  color: #fff;
  transition: ease-in 0.1s border-bottom;
}

.menu ul li a:hover {
  border-bottom: 1px solid white;
}
